{{template "base" .}}

{{define "content"}}
<div class="columns-xs">
    <ul>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
    </ul>
</div>
<h1 class="text-3xl font-bold underline text-clifford">
    Hello world!
</h1>
{{end}}
