.container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
    grid-gap: 10px;
    grid-template-areas:
    "header header header"
    "sidebar main main"
    "footer footer footer";
    width: 100vw;
    height: 100vh;
    border-style: solid;
    border-color: red
}

.item {
    border-style: dashed;
    border-color: lightcoral;
}

.item-a {
    grid-area: header;

}
.item-b {
    grid-area: main;
}
.item-c {
    grid-area: sidebar;
}
.item-d {
    grid-area: footer;
}

